#### Homework-4
##### Total number of points: 60
#### Due date: February 25th, 2022

Before you submit this homework, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All). You can discuss with others regarding the homework but all work must be your own.

This homework will test your knowledge on basics of Python. The Python notebooks shared will be helpful to solve these problems. 

Steps to evaluate your solutions:

Step-1: Ensure you have installed Anaconda (Windows: https://docs.anaconda.com/anaconda/install/windows/ ; Mac:https://docs.anaconda.com/anaconda/install/mac-os/ ; Linux: https://docs.anaconda.com/anaconda/install/linux/)

Step-2: Open the Jupyter Notebook by first launching the anaconda software console

Step-3: Open the .ipynb file and write your solutions at the appropriate location "# YOUR CODE HERE"

Step-4: You can restart the kernel and click run all (in the menubar, select Cell → Run All) on the center-right on the top of this window.

Step-5: Now go to "File" then click on "Download as" then click on "Notebook (.ipynb)" Please DO NOT change the file name and just keep it as .ipynb file format

Step-6: Go to lms.rpi.edu and upload your homework at the appropriate link to submit this homework.

#### Please note that for any question in this assignment you will receive points ONLY if your solution passes all the test cases including hidden testcases as well. So please make sure you try to think all possible scenarios before submitting your answers.  
- Note that hidden tests are present to ensure you are not hardcoding. 
- If caught cheating: 
    - you will receive a score of 0 for the 1st violation. 
    - for repeated incidents, you will receive an automatic 'F' grade and will be reported to the dean of Lally School of Management.

#### Q1 [15 points]. Given the groundtruth or actual class labels `y_true` and the predicted class labels `y_pred`, 
#### build a confusion matrix without using any existing library to compute the total number of 
- `fp` false positives, 
- `tp` true positives, 
- `fn` false negatives and 
- `tn` true negatives.

In [ ]:
#Please use the same order as listed above

y_true=[1, 1, 0, 0, 1, 1, 1, 1, 0, 0]
y_pred=[1, 0, 0, 1, 1, 0, 1, 1, 0, 1]

#use the same variable names in your solution
tp=0
fp=0
fn=0
tn=0

for i in range(len(y_true)):
  if y_true[i] == 1 and y_pred[i] == 1:
    tp = tp + 1
  elif y_true[i] == 1 and y_pred[i] == 0:
    fn = fn + 1
  elif y_true[i] == 0 and y_pred[i] == 1:
    fp = fp + 1
  else:
    tn = tn + 1
print('False Positives:',fp)
print('True Positives:',tp)
print('False Negatives:',fn)
print('True Negatives:',tn)

False Positives: 2
True Positives: 4
False Negatives: 2
True Negatives: 2

In [ ]:
#[6 points] Test cell-1
#DO NOT MODIFY/DELETE THIS CELL 
assert tp==4
assert fp==2
assert len(y_true)==10

In [ ]:
#[4 points] Test cell-2 Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

#### Q2 [5 points]. Given `y_true` which is the groundtruth (or the actual class labels), 
#### create a "list" of predicted labels `y_pred` that reflects the corresponding worst-performing model where accuracy will be '0'.

In [ ]:
from sklearn.metrics import accuracy_score

y_true = [1, 1, 1, 1, 1, 1, 1, 1, 1]
y_pred = [0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
#[3 points] Test cell-3
#DO NOT MODIFY/DELETE THIS CELL
assert accuracy_score(y_true, y_pred)==0

In [ ]:
#[2 points] Test cell-4 Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

#### Q3 [10 points]. Use the `titanic` dataset and perform these operations in the same order as follows. 
<ol>
    <li>Read the data from the url listed below into a dataframe `df`. </li>
    <li>Assign `alive` column from the dataframe `df` as a variable `y_true` corresponding the ground truth labels. </li>
    <li>Convert the values of `y_true` from categorical to numerical 
        <ol>
            <li>if `yes` to integer value 1</li> 
            <li>if `no` to integer value 0 </li>
        </ol>
    </li>
    <li>Convert `y_true` to a list (note that any subset of a dataframe will also be a dataframe)</li>
    <li>Take another list `y_pred` (which will be a list of predicted values and) has the same length as `y_true`. </li>
    <li>Insert value 1 at all the indices of this list `y_pred`. </li>
    <li>Now use these lists `y_pred` and `y_true` to compute true positive rate and sensitivity values as `tpr` and `sens` variables respectively. </li>
</ol>

In [ ]:
import pandas as pd
url='https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/titanic.csv'

df = pd.read_csv(url)
df.head()
y_true = df['alive']
y_true.replace({'yes': 1 , 'no': 0}, inplace=True)

y_pred = []
for i in range(1,892):
  y_pred.append(1)
y_true = y_true.tolist()

fp = 0
tp = 0
fn = 0
tn = 0

for i in range(len(y_true)):
  if y_true[i] == 1 and y_pred[i] == 1:
    tp = tp + 1
  elif y_true[i] == 1 and y_pred[i] == 0:
    fn = fn + 1
  elif y_true[i] == 0 and y_pred[i] == 1:
    fp = fp + 1
  else:
    tn = tn + 1

print('False Positives:',fp)
print('True Positives:',tp)
print('False Negatives:',fn)
print('True Negatives:',tn)

tpr = tp / (tp + fn)
print('True Positivity Rate:',tpr)
sens = tp / (tp + fn)
print('Sensitivity:',sens)

False Positives: 549
True Positives: 342
False Negatives: 0
True Negatives: 0
True Positivity Rate: 1.0
Sensitivity: 1.0

In [ ]:
#[6 points] Test cell-5
#DO NOT MODIFY/DELETE THIS CELL
assert sum(y_true)==342
assert sens==1.0
assert tpr==1.0

In [ ]:
#[4 points] Test cell-6 Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

#### Q4 [5 points]. Given string-based `y_pred` and `y_true` lists corresponding to the predicted and actual class labels respectively, compute the accuracy score and assign it to a variable `acc`.

In [ ]:
y_true = ["cat", "dog", "cat", "cat", "dog"]
y_pred = ["dog", "dog", "cat", "cat", "dog"]
acc=0

tp = 0
fn = 0
fp = 0
tn = 0

for i in range(len(y_true)):
  if y_true[i] == 'cat' and y_pred[i] == 'cat':
    tp = tp + 1
  elif y_true[i] == 'cat' and y_pred[i] == 'dog':
    fn = fn + 1
  elif y_true[i] == 'dog' and y_pred[i] == 'cat':
    fp = fp + 1
  else:
    tn = tn + 1

print('False Positives:',fp)
print('True Positives:',tp)
print('False Negatives:',fn)
print('True Negatives:',tn)

acc = (tp + tn) / (tp + tn + fp + fn)
print(acc)

False Positives: 0
True Positives: 2
False Negatives: 1
True Negatives: 2
0.8

In [ ]:
#[5 points] Test cell-7
#DO NOT MODIFY/DELETE THIS CELL
assert acc==0.8

#### Q5 [10 points]. Compute precision and recall values at the indices 2, 4, 6, and 8 when given the `y_true` and `y_pred` correspond to actual and predicted labels of data points respectively. 

<ol>
    <li>Return these values as lists `precision` and `recall`. Both these lists are of size 4 where index=0, 1, 2, 3 has precision and recall values when computed using `y_true` and `y_pred` at indices 2,4,6,8 respectively. </li>
    <li>Each value in the lists `precision` and `recall` are rounded to 2 digits after the decimal point. For example, convert 3.4211 to 3.42</li>
</ol>

In [ ]:
y_true=[1, 1, 0, 0, 1, 1, 1, 1, 0, 1]
y_pred=[1, 0, 0, 1, 1, 0, 1, 1, 1, 0]
      #[tp,fn,tn,fp,tp,fn,tp,tp,fp,fn]

precision=[] #prec = tp / (tp + fp)
recall=[] #recall = tp / (tp + fn)

tp = [] #4 total
fn = [] #3 total
fp = [] #2 total
tn = [] #1 total

for i in range(len(y_true)):
  if y_true[i] == 1 and y_pred[i] == 1:
    tp.append(1)
    fn.append(0)
    fp.append(0)
    tn.append(0)
  elif y_true[i] == 1 and y_pred[i] == 0:
    fn.append(1)
    tp.append(0)
    fp.append(0)
    tn.append(0)
  elif y_true[i] == 0 and y_pred[i] == 1:
    fp.append(1)
    tp.append(0)
    fn.append(0)
    tn.append(0)
  elif y_true[i] == 0 and y_pred[i] == 0:
    tn.append(1)
    tp.append(0)
    fp.append(0)
    fn.append(0)
  if i == 2 or i == 4 or i == 6 or i == 8:
    prec = round(sum(tp[0:i+1]) / (sum(tp[0:i+1]) + sum(fp[0:i+1])),2)
    rec = round(sum(tp[0:i+1]) / (sum(tp[0:i+1]) + sum(fn[0:i+1])),2)
    precision.append(prec)
    recall.append(rec)

print(precision)
print(recall)

[1.0, 0.67, 0.75, 0.67]
[0.5, 0.67, 0.6, 0.67]

In [ ]:
#[5 points] Test cell-8
#DO NOT MODIFY/DELETE THIS CELL
assert precision[0]==1.0
assert recall[0]==0.5
assert precision[2]==0.75
assert recall[3]==0.67
assert len(recall)==4

In [ ]:
#[5 points] Test cell-9 Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [ ]:
#Please run this cell before answering Q6 and do not delete/modify anything
import pandas as pd
df=pd.read_csv('https://raw.githubusercontent.com/lmanikon/lmanikon.github.io/master/teaching/datasets/titanic_processed_train3.csv')
#View the dataframe
df

           Age  SibSp  Parch     Fare  ...  Embarked_S  Survived  pred_prob  pred
0    22.000000      1      0   7.2500  ...           1         0        0.1     0
1    38.000000      1      0  71.2833  ...           0         1        0.3     0
2    26.000000      0      0   7.9250  ...           1         1        0.3     0
3    35.000000      1      0  53.1000  ...           1         1        0.6     1
4    35.000000      0      0   8.0500  ...           1         0        0.0     0
..         ...    ...    ...      ...  ...         ...       ...        ...   ...
886  27.000000      0      0  13.0000  ...           1         0        0.3     0
887  19.000000      0      0  30.0000  ...           1         1        0.8     1
888  29.699118      1      2  23.4500  ...           1         0        0.4     0
889  26.000000      0      0  30.0000  ...           0         1        0.4     0
890  32.000000      0      0   7.7500  ...           0         0        0.2     0

[891 rows x 12 columns]

#### Q6 [10 points]. By using the columns `Survived` and `Pred` as the groundtruth and predicted class labels respectively and `pred_prob` as class probabilities of the input samples in the dataframe `df`, 

#### calculate: 
<ol>
    <li>accuracy and assign it to variable `tacc`</li>
    <li>precision and assign it to variable `tprec` </li>
    <li>recall and assign it to variable `trecall` </li> 
    <li>Area Under the Receiver Operating Characteristic Curve (ROC AUC) and assign it to variable `tauc` </li> 
</ol>

In [ ]:
#Compute accuracy, precision, recall and area under curve 

import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import average_precision_score, precision_recall_curve
from sklearn.metrics import auc, plot_precision_recall_curve
from sklearn.metrics import roc_auc_score
from sklearn import metrics

df_true = df['Survived']
df_pred = df['pred']
df_true_new = df_true.values.reshape(-1,1)
df_pred_new = df_pred.values.reshape(-1,1)

tp = 0
fn = 0
fp = 0
tn = 0

for i in range(len(df_true)):
  if df_true[i] == 1 and df_pred[i] == 1:
    tp = tp + 1
  elif df_true[i] == 1 and df_pred[i] == 0:
    fn = fn + 1
  elif df_true[i] == 0 and df_pred[i] == 1:
    fp = fp + 1
  else:
    tn = tn + 1

tacc = (tp + tn) / (tp + tn + fp + fn)
tprec = tp / (tp + fp)
trecall = tp / (tp + fn)
fpr = fp / (fp + tn)
tauc = roc_auc_score(df_true_new, df['pred_prob'])

print(tauc)

0.8007941073083438

In [ ]:
#[8 points] Test cell-10 
#DO NOT MODIFY/DELETE THIS CELL 
assert round(tacc,4)==0.7351
assert round(tprec,4)==0.7345
assert round(trecall,4)==0.4854
assert round(tauc,4)==0.8008

In [ ]:
#[2 points] Test cell-11 Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

#### Q7 [10 points]. Create a 1-D dataset in the form of a list `L1` that is of size 12 with values ranging from 10 to 120 with a step size of 10. For example, 1st 3 elements of this list are 10, 20, 30.

#### Using `L1` calculate: 
<ol>
    <li>Extract 4 folds using list `L1`. </li>
    <li>For each fold -- append the mean of training data to `traindata` (as shown in Lecture-11) and the mean of testing data to `testdata`</li> 
    <li> Use the KFold() function to find the folds; np.mean() to compute the mean values</li>
    
</ol>

In [ ]:
from sklearn.model_selection import KFold
import numpy as np

traindata=[]
testdata=[]

L1= np.array([10,20,30,40,50,60,70,80,90,100,110,120])
kf = KFold(4)

folds = {}
count = 1

# Creating folds
for train, test in kf.split(L1):
    folds['fold_{}'.format(count)] = {}
    folds['fold_{}'.format(count)]['train'] = train.tolist()
    folds['fold_{}'.format(count)]['test'] = test.tolist()
    count += 1

# Calculating means for test data
for i in range(len(L1)):
  if i == 0 or i == 3 or i == 6 or i == 9:
    testmeancalc = np.mean(L1[i:i+3])
    testdata.append(testmeancalc)

print(testdata)

# Calculating means for train data
for i in range(len(L1)):
  if i == 0 or i == 3:
    trainmeancalc = np.mean(L1[i:i+9])
    traindata.append(trainmeancalc)
  if i == 6:
    calc2 = (L1[i:i+3] + L1[i+3:i+6] + L1[i-6:i-3]) / 3
    trainmean2 = np.mean(calc2)
    traindata.append(trainmean2)
  if i == 9:
    calc3 = (L1[i:i+3] + L1[i-9:i-6] + L1[i-6:i-3]) / 3
    trainmean3 = np.mean(calc3)
    traindata.append(trainmean3)

print(traindata)

[20.0, 50.0, 80.0, 110.0]
[50.0, 80.0, 70.0, 60.0]

In [ ]:
#[2 points] Test cell-12 
#DO NOT MODIFY/DELETE THIS CELL
assert L1[0]==10
assert sum(L1)==780

In [ ]:
#[3 points] Test cell-13 Hidden tests
#DO NOT MODIFY/DELETE THIS CELL

In [ ]:
#[5 points] Test cell-14 
#DO NOT MODIFY/DELETE THIS CELL
assert np.mean(traindata)==65.0
assert np.mean(testdata)==65.0